fastapi
uvicorn[standard]
python-multipart
pydantic-settings
opencv-python
openai-whisper
torch --index-url https://download.pytorch.org/whl/cpu
transformers
sentence-transformers
Pillow
numpy
scikit-learn
gunicorn
ultralytics
easyocr
clip-by-openai
python-dotenv
